<a href="https://colab.research.google.com/github/mrj760/Data-Science-Assignments/blob/main/CS410_Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

RATINGS FILE DESCRIPTION
================================================================================

All ratings are contained in the file "ratings.dat" and are in the
following format:

UserID::MovieID::Rating::Timestamp

- UserIDs range between 1 and 6040 
- MovieIDs range between 1 and 3952
- Ratings are made on a 5-star scale (whole-star ratings only)
- Timestamp is represented in seconds since the epoch as returned by time(2)
- Each user has at least 20 ratings

In [ ]:
ratings = pd.read_csv("/content/drive/MyDrive/ratings.dat", sep="\:\:", names=["UserID", "MovieID", "Rating", "Timestamp"], engine="python")
print(ratings)

         UserID  MovieID  Rating  Timestamp
0             1     1193       5  978300760
1             1      661       3  978302109
2             1      914       3  978301968
3             1     3408       4  978300275
4             1     2355       5  978824291
...         ...      ...     ...        ...
1000204    6040     1091       1  956716541
1000205    6040     1094       5  956704887
1000206    6040      562       5  956704746
1000207    6040     1096       4  956715648
1000208    6040     1097       4  956715569

[1000209 rows x 4 columns]

USERS FILE DESCRIPTION
================================================================================

User information is in the file "users.dat" and is in the following
format:

UserID::Gender::Age::Occupation::Zip-code

All demographic information is provided voluntarily by the users and is
not checked for accuracy.  Only users who have provided some demographic
information are included in this data set.

- Gender is denoted by a "M" for male and "F" for female
- Age is chosen from the following ranges:

	*  1:  "Under 18"
	* 18:  "18-24"
	* 25:  "25-34"
	* 35:  "35-44"
	* 45:  "45-49"
	* 50:  "50-55"
	* 56:  "56+"

- Occupation is chosen from the following choices:

	*  0:  "other" or not specified
	*  1:  "academic/educator"
	*  2:  "artist"
	*  3:  "clerical/admin"
	*  4:  "college/grad student"
	*  5:  "customer service"
	*  6:  "doctor/health care"
	*  7:  "executive/managerial"
	*  8:  "farmer"
	*  9:  "homemaker"
	* 10:  "K-12 student"
	* 11:  "lawyer"
	* 12:  "programmer"
	* 13:  "retired"
	* 14:  "sales/marketing"
	* 15:  "scientist"
	* 16:  "self-employed"
	* 17:  "technician/engineer"
	* 18:  "tradesman/craftsman"
	* 19:  "unemployed"
	* 20:  "writer"

In [ ]:
users = pd.read_csv("/content/drive/MyDrive/users.dat", sep="\:\:", names=['UserID','Gender','Age','Occupation','Zip-Code'], engine="python")
print(users)

      UserID Gender  Age  Occupation Zip-Code
0          1      F    1          10    48067
1          2      M   56          16    70072
2          3      M   25          15    55117
3          4      M   45           7    02460
4          5      M   25          20    55455
...      ...    ...  ...         ...      ...
6035    6036      F   25          15    32603
6036    6037      F   45           1    76006
6037    6038      F   56           1    14706
6038    6039      F   45           0    01060
6039    6040      M   25           6    11106

[6040 rows x 5 columns]

MOVIES FILE DESCRIPTION
================================================================================

Movie information is in the file "movies.dat" and is in the following
format:

MovieID::Title::Genres

- Titles are identical to titles provided by the IMDB (including
year of release)
- Genres are pipe-separated and are selected from the following genres:

	* Action
	* Adventure
	* Animation
	* Children's
	* Comedy
	* Crime
	* Documentary
	* Drama
	* Fantasy
	* Film-Noir
	* Horror
	* Musical
	* Mystery
	* Romance
	* Sci-Fi
	* Thriller
	* War
	* Western

- Some MovieIDs do not correspond to a movie due to accidental duplicate
entries and/or test entries
- Movies are mostly entered by hand, so errors and inconsistencies may exist

In [ ]:
movies = pd.read_csv("/content/drive/MyDrive/movies.dat", sep="\:\:", names=['MovieID', 'Title', 'Genres'], engine="python")
print(movies)

      MovieID                               Title  \
0           1                    Toy Story (1995)
1           2                      Jumanji (1995)
2           3             Grumpier Old Men (1995)
3           4            Waiting to Exhale (1995)
4           5  Father of the Bride Part II (1995)
...       ...                                 ...
3878     3948             Meet the Parents (2000)
3879     3949          Requiem for a Dream (2000)
3880     3950                    Tigerland (2000)
3881     3951             Two Family House (2000)
3882     3952               Contender, The (2000)

                            Genres
0      Animation|Children's|Comedy
1     Adventure|Children's|Fantasy
2                   Comedy|Romance
3                     Comedy|Drama
4                           Comedy
...                            ...
3878                        Comedy
3879                         Drama
3880                         Drama
3881                         Drama
3882                Drama|Thriller

[3883 rows x 3 columns]

## Task 1

Obtain the mean rating of each movie grouped by gender and display the top 5

New table will be of format...

Title :: F Rating :: M Rating

In [ ]:
# gender_ratings = users.loc[:, ['UserID', 'Gender']] # Only the userID and gender columns are useful from users table
gender_ratings = users.merge(ratings, how='left',right_on='UserID',left_on='UserID') # merge with ratings table to get ratings of users by userID
gender_ratings = gender_ratings.loc[:, ['UserID', 'Gender', 'MovieID', 'Rating']] # strip out unnecessary columns
gender_ratings = gender_ratings.merge(movies, left_on='MovieID', right_on='MovieID', how='left') # merge with movies to get ratings from users on every movie
gender_ratings = gender_ratings.loc[:, ['Title', 'Gender', 'Rating']] # last time stripping out unnecessary columns.
gender_ratings = pd.pivot_table(gender_ratings, index='Title', columns='Gender', values='Rating', aggfunc='mean') # turn the Gender column into two columns
print(gender_ratings.head(5)) # Display the top 5

Gender                                F         M
Title
$1,000,000 Duck (1971)         3.375000  2.761905
'Night Mother (1986)           3.388889  3.352941
'Til There Was You (1997)      2.675676  2.733333
'burbs, The (1989)             2.793478  2.962085
...And Justice for All (1979)  3.828571  3.689024

#Task 2

Filter out only the movies which have received 300 ratings

In [ ]:
def one(num): # turn every number into the number 1
  return 1
rating_count = ratings['Rating'] # Get only the ratings of each movie
rating_count = ratings.assign(Count=rating_count.apply(one)) # Turn every rating into a one so when we combine the ones we will get a count of ratings
rating_count = rating_count.groupby(by='MovieID')['Count'].sum().reset_index() # group by each movie then sum the Rating-Count
over_300 = rating_count.loc[rating_count['Count'] >= 300].sort_values('Count', ascending=False) # Get only the movies who have a Rating-Count of 300+
over_300 = movies.merge(over_300, right_on='MovieID', left_on='MovieID', how='right') # merge with movies table to get the titles of the movies which have 300+ ratings
over_300 = over_300.loc[:, 'Title'] # Only need the titles for merging with the gender ratings
gender_ratings_over_300 = gender_ratings.merge(over_300, left_on='Title', right_on='Title', how='right') # use the titles to cross reference gender_ratings table and remove any movies which have under 300 ratings.
print(gender_ratings_over_300.head(5)) # finally display the top 5 of movies which received the most ratings

                                               Title         F         M
0                             American Beauty (1999)  4.238901  4.347301
1          Star Wars: Episode IV - A New Hope (1977)  4.302937  4.495307
2  Star Wars: Episode V - The Empire Strikes Back...  4.106481  4.344577
3  Star Wars: Episode VI - Return of the Jedi (1983)  3.865237  4.069058
4                               Jurassic Park (1993)  3.579407  3.814197

## Task 3

Display top 5 films among female viewers

In [ ]:
female_favorites = gender_ratings_over_300.sort_values('F', ascending=False) # Sort the movies in the table with gender-aggregated reviews by the highest review score among female viewers
print(female_favorites.head(5)) # display the first 5

                                                 Title         F         M
442                              Close Shave, A (1995)  4.644444  4.473795
268                         Wrong Trousers, The (1993)  4.588235  4.478261
672      Sunset Blvd. (a.k.a. Sunset Boulevard) (1950)  4.572650  4.464589
727  Wallace & Gromit: The Best of Aardman Animatio...  4.563107  4.385075
17                             Schindler's List (1993)  4.562602  4.491415

## Task 4

Find the disagreement among viewers (AKA the std deviation in ratings for each movie)

In [ ]:
ratings_disagreement = ratings.groupby('MovieID')['Rating'].std() # Group the ratings table by movie and then aggregate the ratings by std deviation
ratings_disagreement = movies.merge(ratings_disagreement, left_on='MovieID', right_on='MovieID', how='right').loc[:,['Title','Rating']] # merge with the movies table to get movie titles along with rating std-dev
ratings_disagreement = ratings_disagreement.merge(over_300, left_on='Title', right_on='Title', how='inner').sort_values('Rating', ascending=False) # Merge with table which has only movies with 300+ reviews
print(ratings_disagreement.head(10)) # display the first 10 as seen in the assignment sheet

                                           Title    Rating
63                          Dumb & Dumber (1994)  1.321333
759              Blair Witch Project, The (1999)  1.316368
75                   Natural Born Killers (1994)  1.307198
86                              Tank Girl (1995)  1.277695
741        Rocky Horror Picture Show, The (1975)  1.260177
760                        Eyes Wide Shut (1999)  1.259624
58                          Billy Madison (1995)  1.249970
882                      Bicentennial Man (1999)  1.245533
665                 Babe: Pig in the City (1998)  1.239379
754  South Park: Bigger, Longer and Uncut (1999)  1.235380